
mixin base-input(input)
  - let inputIcon = `assets/icons/${input.icon}.svg`
  .base-input(
    class=attributes.class,
    data-input-type=input.type,
    data-class="click box-sizing"
  )
    input.base-input--input(
      type="text",
      data-class="full main-radius main-border box-sizing"
    )
    img.base-input--icon(
      src=inputIcon,
      data-class="pos-top-center"
    )
    .base-input--placeholder(data-class="pos-top-center")= input.placeholder
    img.base-input--status(
      src=""
      data-input-status
      data-class="pos-top-center"
    )
    .base-input--error(data-input-error)